<%- include("partials/header.ejs") %>

    <main>
        <h1>Create New Acount</h1>
        <form action="/register" method="post">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" autocomplete="off">
            </p>
            <p>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" autocomplete="off">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </p>
            <button>Register</button>
        </form>
    </main>

    <%- include("partials/footer.ejs") %>